@page "/Search"
@inject IEpisodeDataManager EpisodeManager

<span>Search:&nbsp;</span>
<input @bind="SearchTitle" />
<span>&nbsp;</span>
<button @onclick="SearchEpisodes">Search</button>
<br />
<br />

@if (Episodes != null)
{
    <ul>
        @foreach (var episode in Episodes)
        {
            <li>@episode.Title</li>
        }
    </ul>
}

@code{

    string SearchTitle = "";
    List<Episode> Episodes;

    async Task SearchEpisodes()
    {
        if (SearchTitle != "")
        {
            Episodes = await EpisodeManager.SearchEpisodes(SearchTitle);
            await InvokeAsync(StateHasChanged);
        }
    }

}